/*GENERAL*/

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;  
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.container-small{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

header nav{
    display: none;
}

/*HEADER*/

header{
    background-color: #0084FD;
    color: white;
    margin-bottom: 40px;
}

.header-section{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.menu-hamburger{
    display: flex;
    align-items: center;
}


ul li, a{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: 10px;
}

.foto-logo, .foto-phone{
    width: 70%;
}


/*MAIN*/

#section-1, #section-2, #section-3, #section-4, #section-5, #section-6{
    margin-bottom: 50px;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.my-col{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-aling{
    text-align: center;
}

footer{
    background-color: grey;
}


#section-1 .my-col-66 , .my-col-33{
    background-color: #B5DDFF;
    border-radius: 50px;
    width: 80%;
}

.padding-section-1-special{
    padding: 20px;
}

.padding-section-1{
    padding: 30px;
    text-align: center;
}

#section-1 h3{
    color: #0084FD;
    text-align: center;
}

#section-1 p{
   color: #5A6E7F;
   font-size: 0.9em;
}

.my-col-66 button{
    color: white;
    background-color: #0084FD;
    padding: 7px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
}

#section-1 span{
    background-color: #0084FD;
    padding: 15px;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
}

#section-1 i {
    font-size: 4em;
    color: #0084FD;
}

#section-1 h3{
    margin-top: 10px;
    margin-bottom: 10px;
}


.phone-foto, .planning-1{
    width: 100%;
    margin-bottom: -25px;
}

.planning-1{
    width: 100%;
}


#section-2, #section-6{
    background-color: #9792E4;
}

#section-2 img{
    width: 100%;
}

.font-white{
    color: white;
}

.font-black{
    color: black;
}

#section-2 h3{
    padding: 30px;
    margin-top: 120px;
}

.second-h3{
    margin-top: 20px;
}

#section-2 .my-col-special-section-2{
    background-color: white;
    border-radius: 50px;
    color: black;
    width: 80%;
}

.padding-section-2{
    padding: 30px;
}

.padding-section-2-text-center{
    text-align: center;
}


#section-2 button{
    width: 30px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #9792E4;
    font-size: 2em;
    margin-bottom: 10px;
}

#section-3 .container-text-section-3{
    text-align: center;
    padding: 20px;
}

.container-text-section-3 h5, h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-text-section-3 h3{
    color: #9792E4;
}

.section-3-card p{
    margin-bottom: 25px;
}

#section-3 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: -24px;
}


#section-3 .my-col{
    background-color: #9792E4;
    width: 80%;
}

.section-3-card{
    text-align: center;
    color: white;
}

#section-3 .my-col-50{
    border-radius: 50px;
    padding: 50px;
}



#section-4{
    background-color: #9792E4;
}

.container > h3{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1.4em;
}

.section-4-card{
    border-radius: 30px;
    background-color: white;
    padding: 15px;
}

.section-4-card span{
    font-size: 3em;
    color: #9792E4;
    padding: 15px;
}


.section-4-card h3{
    color: #9792E4;
    padding: 15px;
}

.section-4-card p{
    color: #9d9d9d;
    padding: 15px;
}

.section-4-card button{
    background-color: #9792E4;
    padding: 7px;
    width: 100px;
    border-radius: 50px;
    margin-left: 10px;
}

#section-5 h3{
    color: #9792E4;
    font-size: 2em;
}

#section-5 h3, p{
    padding: 20px;
}

#section-5 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 20px;
}

.my-col-40 h4{
    margin-left: 20px;
    margin-bottom: 20px;
   color: #9792E4;
}

.my-col-40 button{
    color: white;
    background-color: #9792E4;
    padding: 7px;
    border-radius: 50px;
    margin-left: 20px;
}

.section-6-span-1{
    color: #CFCDF2;
    font-size: 0.8em;
    padding: 20px;
}

.section-6-span-2{
    color: white;
    font-size: 1.5em;
}

.section-6-span-3{
    color: #FDC15F;
    font-size: 2em;
}

.section-6-span-4{
color: white;
font-size: 0.8em;
}

#section-6 button{
    color: #9792E4;
    background-color: white;
    padding: 7px;
    border-radius: 50px;
}

.section-6-span-5{
    color: white;
    font-size: 0.8em;
    padding: 20px;
}

.text-dec{
    text-decoration: underline;
}

#section-6 > div *{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*FOOTER*/

footer{
    margin-top: -50px;
}

.footer-section{
    background-color: #333333;
}

.footer-p-font{
    font-size: 0.8em;
    color: white;
    padding: 30px;
}

.footer-section a{
    text-decoration: underline;
    color: #827EBF;
}















/***********************************************/

/*TABLET*/
@media screen and (min-width: 768px) {

    #section-1 .my-col-66{
        width: calc(((100% / 3) * 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-1 .my-col-33{
        width: calc((100% / 3) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-2 .my-col-special-section-2{
        width: 95%;
    }

    #section-3 .my-col-50{
        width: 95%;
    }

    #section-3 .section-3-card{
        display: flex;
    }

    .citazione-nominativo{
        margin-top: 30px;
        flex-direction: column;
    }


    #section-4 .my-col-33{
        width: calc((100% / 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-5 .presentazione-1{
        width: 70%;
        display: flex;
        flex-wrap: nowrap;
    }

    #section-5 .presentazione-2{
        width: 30%;
        margin-left: 50px;
    }

    #section-5 .my-col-60{
        width: calc(((100% / 10) * 6) - 10px);
        margin-right: 10px;
    }

    #section-5 .my-col-40{
        width: calc((100% / 10) * 4)

    }

}

/*DESKTOP*/
@media screen and (min-width: 992px) {

    header nav{
        display: block;
        display: flex;
        align-items: center;
    }

    .menu-hamburger{
        display: none;
    }
    
    #section-1 .my-col-66{
        width: calc(((100% / 3) * 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-1 .my-col-33{
        width: calc((100% / 3) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-1 .my-row{
        margin-left: - 10px;
        margin-right: - 10px;
    }

    .padding-section-1-special{
        display: flex;
    }

    .section-1-flex-desktop{
        flex-direction: column;
    }

    .h3-special{
        margin-left: -33px;
    }

    #section-2 .my-col-50{
        width: 50%
    }

    .my-col-special-section-2{
        width: 70%;
        margin-top: 100px;
        height: 85%;
    }


    #section-3 .my-col-50{
        width: 95%;
    }

    #section-4 .my-col-33{
    width: calc((100% / 3) - 20px);
    margin-right: 10px;
    margin-left: 10px;
    }

    #section-5 .my-col-60{
        width: calc(((100% / 10) * 6) - 10px);
        margin-right: 10px;
    }

    #section-5 .my-col-40{
        width: calc((100% / 10) * 4)

    }

    


}
    


